.container {
  background-color: #adadb9;
  width: 25%;
  min-width: 29rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.display-items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  margin: 5rem auto 0;
}

.calc-header {
  color: #575757;
}

.display {
  margin: 0 auto;
  padding: 1.3rem;
  width: 25%;
  min-width: 29rem;
  font-size: 1.8rem;
  text-align: right;
  color: #575757;
  background-color: #d5d5d5;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
}

.operator {
  background-color: #f5913e;
}

.span-2 {
  grid-column: span 2;
}

.btn:hover {
  background-color: #f5913e;
  color: white;
  transform: scale(1.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
