@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
}

.nav-items > li {
  text-decoration: underline;
  text-decoration-color: blue;
}

.nav-heading {
  font-size: 2rem;
  color: #575757;
}

.border {
  border-left: 3px solid #575757;
  border-right: 3px solid #575757;
  padding: 0 0.5rem;
}
